/* Variables */
$font-stack: Lato, Roboto, sans-serif;
$menu-background: #15150F;
$headers-text-color: #5C5C5A;
$headers-text-color-light: #f5f5f5;
$content-color: #FCFCFB;
$bottom-border-color: #DFE6E4;
$book-items-bottom-border: #35312B;

.custom-font{
  font-family: $font-stack;
}

.word-wrapping-text {
  word-wrap: break-word;
}

.no-padding{
  padding: 0;
}

.no-margin{
  margin: 0;
}

.inline-item {
  display: inline-block;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

table{
  font-family: $font-stack;
}

.transition-ease{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body:after {
  content: "";
  background: url("../assets/background.jpg") no-repeat center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@media (min-width: 768px){
  .app-container {
    background-color: #FDFCFC;
    border-radius: 5px;

    position: absolute;
    overflow: auto;
    top: 50px;
    bottom: 50px;
    right: 100px;
    left: 100px;
  }
  .menu-column {
    background-color: $menu-background;
    width: 200px;
    float: left;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    > img {
      border-radius: 5px 0 0 0;
    }
  }
  .content-column {
    margin-left: 200px;
    background-color: $content-color;
    border-radius: 0 5px 5px 0;
  }
}
@media (max-width: 768px){
  .menu-column {
    background-color: $menu-background;
    width: 20px;
    float: left;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    > img {
      border-radius: 5px 0 0 0;
    }
    &:hover{
      width: 200px;
      +.content-column {
        margin-left: 200px;
        .mbs-content-row{
          left: 200px;
        }
      }
    }
  }
  .content-column {
    margin-left: 20px;
    background-color: $content-color;
    border-radius: 0 5px 5px 0;
  }
  .tools-col {
      width: 25%;
      float: left;
  }
  .tools-col-6 {
      width: 50%;
      float: left;
  }
}

.mbs-menu-header {
  text-transform: uppercase;
  color: $headers-text-color;
  font-family: $font-stack;
  font-size: 10px;
  font-weight: bold;
  padding: 10px 0 10px 20px;
}

.mbs-author-avatar{
   height: 270px;
   min-height: 270px;
   display: inline-block;
   /*position: fixed;*/
   left: 340px;
   width: 185px;
   max-width: 185px;
}

@media (min-width: 992px){
  .col-md-3 {
      width: 24%;
  }
}
.col{
  &.author-card{
    min-height: 340px;
  }
  &.centered{
    text-align: center;
  }
}

.state-icon {
    left: -5px;
}

.chklist{
  &.chklist-searchbox{
    padding: 0 0 8px 0;
  }
  &.chklist-check{
    background: #ccc;
  }
  &.chklist-box{
    max-height: 300px;
    overflow-y: auto;
  }
}

.list-group-item {
  cursor: pointer;
}

.fixed-pos{
  position: fixed;
}

.col-xs-9 {
    width: 73% !important;
}

.mbs-book-read{
  color: #efefef;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.mbs-rate-clear {
  margin-top: -20px;
  margin-left: 5px;
}

.mbs {
  font-family: $font-stack;
  &.mbs-list-item{
    max-height: 100px;
    overflow-y: auto;
  }
  &.mbs-settings-header{
    display: block;
    border-bottom: 2px solid #efefef;
    font-weight: bold;
    font-size: 15px;
    color: gray;
    margin-bottom: 5px;
  }
  &.mbs-settings-row{
    margin-bottom: 10px;
  }
  &.mbs-settings-row-item{
    margin-bottom: 3px;
  }
  &.mbs-collection-label{
    margin-top: 10px;
  }
  &.mbs-list{
    margin: 0 0 10px 10px;
    padding: 0;
  }
  &.mbs-header-image{
    margin-top: 15px;
    height: 100px;
    width: 70px;
  }
  &.mbs-items-list{
    @extend .transition-ease;
    list-style: none;
    display: block;
    padding: 5px;
    border-bottom: 1px solid #c5c5c5;
    cursor: pointer;
    &:hover{
      background: #e5e5e5;
    }
  }
  @media (min-width: 768px){
    &.mbs-collection-details{
      position: fixed;
      overflow-y: auto;
      bottom: 50px;
      top: 171px;
    }
  }
  &.mbs-collection-books-list{
  }
  &.mbs-list-arrows{
    padding: 100px 0 0 0;
    text-align: center;
    button {
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &.mbs-reads-tool{
    margin-top: 25px;
  }
  &.mbs-authors-books{
  }
  &.mbs-author-info{
    /*position: fixed;
    left: 540px;
    width: 380px;
    max-width: 380px;*/
  }
  &.mbs-author-book{
    height: 270px;
    min-height: 270px;
    > a {
      text-decoration: none;
      &:hover *{
        opacity: 0.5;
      }
    }
  }
  &.mbs-authors-books-header{
    margin-top: 0px;
    border-bottom: 2px solid #EAEAEA;
    font-family: $font-stack;
    font-size: 16px;
  }
  &.flag{
    position: absolute;
  }
  &.mbs-head-row {
    width: 100%;
    height: 130px;
    display: table;
  }
  &.mbs-head-text {
    font-size: 36px;
    font-family: $font-stack;
    font-weight: 200;
    display: table-cell;
    vertical-align: middle;
    @media (min-width: 768px){
      padding-left: 30px;
    }
    >.mbs-cutted-header{
      width: 85px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
    }
  }
  &.mbs-head-search {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    @media (min-width: 768px){
      padding-right: 50px;
    }
    .mbs-seach-overlay{
      @extend .transition-ease;
      display: inline-block;
      opacity: 0.5;
      input {
        border: none;
        font-family: $font-stack;
        font-size: 12px;
        padding: 2px;
        border-bottom: 2px solid $bottom-border-color;
        &:focus {
          border: none;
          border-color: #fff;
          box-shadow: none;
          outline: none;
          border-bottom: 2px solid $bottom-border-color;
        }
      }
      &:hover{
        opacity: 1;
      }
    }
  }
  &.mbs-button {
    > .glyphicon {
      font-size: 15px;
      opacity: 0.5;
    }
    border: 0;
    outline: none;
    background: transparent;
    padding: 2px 5px 1px 5px;
    border-bottom: 2px solid $bottom-border-color;
    margin-left: -4px;
    &:hover {
      background: #ccc;
    }
  }
  @media (min-width: 768px){
    &.mbs-content-row {
      padding-left: 20px;
      position: absolute;
      overflow: hidden;
      overflow-y: auto;
      top: 130px;
      bottom: 0;
      right: 0;
      left: 200px;
      &.with-address{
        margin-left: 25px;
      }
    }
  }
  @media (max-width: 768px){
    &.mbs-content-row {
      padding-left: 20px;
      position: absolute;
      overflow: hidden;
      overflow-y: auto;
      top: 130px;
      bottom: 0;
      right: 0;
      left: 20px;
      &.with-address{
        margin-left: 25px;
      }
    }
  }
  &.mbs-book-cover {
    margin: 0 auto;
    max-height: 223px;
    height: 223px;
    max-width: 138px;
    width: 138px;
  }
  &.mbs-book-card{
    min-height: 350px;
  }
  &.mbs-author-image {
    margin: 0 auto;
    max-height: 224px;
    height: 224px;
    max-width: 155px;
    width: 155px;
    border-radius: 3px;
    border: 1px solid #A9A9A9;
    text-align: left;
  }
}

.overlay {
  @extend .transition-ease;
  font-family: $font-stack;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
}

.row{
  &.cover{
    height: 195px;
  }
  &.collection-cover{
    height: 150px;
  }
}

.tools-columns{
  width: 50px;
}

/* La transizione vera e propria */
.fade-transition {
  transition: all .5s ease;
}

/* .expand-enter è lo stato iniziale del elemento */
/* .expand-leave è lo stato finale del elemento */
.fade-enter, .fade-leave {
  opacity: 0;
}

.mbs {
  &.mbs-menu {
    font-family: $font-stack;
    list-style: none;
    padding: 8px 0 8px 10px;
    margin: 0;
    > li {
      > a {
        display: block;
        padding: 10px 10px 10px 20px;
        text-decoration: none;
        color: #EBEBE8;
        -o-transition: 0.25s;
        -ms-transition: 0.25s;
        -moz-transition: 0.25s;
        -webkit-transition: 0.25s;
        transition: 0.25s;
      }
      &.active > a, > a:hover {
        background-color: $content-color;
        color: #323D3A;
        border-left: 4px solid #B47C23;
      }
    }
  }
  &.mbs-found-cover{
    max-height: 200px;
    max-width: 200px;
  }
  &.mbs-address-tabs{
    font-family: $font-stack;
    list-style: none;
    float: left;
    width: 25px;
    height: inherit;
    margin: 0;
    padding: 0;
    margin-left: -17px;
    z-index: 1000;
    > li {
      > a {
        @extend .transition-ease;
        font-size: 12px;
        text-align: center;
        display: block;
        padding: 2px 0 2px 0;
        text-decoration: none;
        color: #555;
        border-radius: 0 2px 2px 0;
      }
      &.active > a, > a:hover {
        background-color: #B47C23;
        color: #f5f5f5;
        font-weight: bold;
        text-shadow: #000 1px 1px 2px;
      }
    }
  }
  &.mbs-add-link{
    @extend .transition-ease;
    opacity: 0.75;
    text-decoration: none;
    cursor: pointer;
    i {
      font-size: 20px;
    }
    &:hover{
      opacity: 1;
    }
  }
  &.mbs-save-link{
    @extend .transition-ease;
    opacity: 0.75;
    text-decoration: none;
    cursor: pointer;
    color: gray;
    &:hover{
      opacity: 1;
    }
  }
  &.mbs-author-button{
    position: absolute;
    top: 52px;
    left: 50%;
  }
  &.mbs-book-cover:hover .overlay {
    opacity: 1;
  }
  &.mbs-author-image:hover .overlay {
    opacity: 1;
    border-radius: 3px;
    z-index: 9000;
  }
  &.mbs-book-title {
    font-family: $font-stack;
    font-size: 14px;
    font-weight: 600;
    display: block;
  }
  &.mbs-author-name{
    @extend .mbs-book-title;
  }
  &.mbs-book-minor-info {
    font-family: $font-stack;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    &:last-child{
      margin-bottom: 30px;
    }
  }
  &.mbs-author-minor-info {
    @extend .mbs-book-minor-info;
  }
}

.mbs-light {
  color: #fff;
  font-size: 30px;
  float: right;
  margin: 10px;
  cursor: pointer;
  &:hover {
    color: #e1e1e1;
  }
}

.no-decoration-link{
  text-decoration: none !important;
}

.mbs-book-tools{
  @extend .transition-ease;
  font-family: iconmoon !important;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  &:hover{
    color: #ccc;
  }
}

.mbs-author-tools{
  @extend .mbs-book-tools;
}

textarea{
  resize: none;
}

.mbs-book-item{
  text-align: left;
  overflow: hidden;
  font-weight: 200;
  border-bottom: 1px solid $book-items-bottom-border;
}

.dropdown-menu{
  &.inner{
    max-height: 200px;
    overflow-y: auto;
  }
}

.mbs {
  &.mbs-book-collection{
    text-align: center;
    min-height: 300px;
    .mbs-book-title{
      text-align: center;
    }
    .mbs-book-minor-info{
      text-align: center;
    }
    &:hover .mbs-card-book-cover{
      cursor: pointer;
      .overlay{
        opacity: 1;
      }
    }
  }
  &.mbs-card-books{
    margin: 0 auto;
    height: 14.5em;
    width: 13em;
    .mbs-card-book-cover{
      @extend .transition-ease;
      height: 180px;
      width: 112px;
      position: absolute;
      top: 9px;
      &:first-child{
        -o-transform: rotate(-7deg);
        -moz-transform: rotate(-7deg);
        -ms-transform: rotate(-7deg);
        -webkit-transform: rotate(-7deg);
        transform: rotate(-7deg);
      }
      &:not(:first-child):not(:last-child) {
        z-index: 999;
      }
      &:last-child{
        -o-transform: rotate(7deg);
        -moz-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
        transform: rotate(7deg);
      }
      &:only-child{
        z-index: 999;
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
  }
  &.mbs-book-genres {
    @extend .mbs-book-item;
    text-overflow: ellipsis;
  }
  &.mbs-book-description {
    @extend .mbs-book-item;
    height: 105px;
    color: $headers-text-color-light;
    border-bottom: 1px solid $book-items-bottom-border;
  }
  &.mbs-book-details-header {
    color: $headers-text-color-light;
    text-align: left;
    text-transform: uppercase;
    font-family: $font-stack;
    font-size: 10px;
    font-weight: bold;
  }
  &.mbs-book-details-header-topborder{
    @extend .mbs-book-details-header;
    border-top: 1px solid $book-items-bottom-border;
  }
  &.mbs-book-details-inline-header {
    @extend .mbs-book-details-header;
    display: inline-block;
  }
  &.mbs-book-genres {
    text-align: left;
    font-size: 12px;
    .mbs-book-genre{
      color: #fff !important;
    }
  }
}

@media (min-width: 800px) {
  .mbs {
    &.mbs-card-books{
      .mbs-card-book-cover{
        &:first-child{
          left: 14%;
        }
        &:not(:first-child):not(:last-child) {
          left: 24%;
        }
        &:last-child{
          left: 33%;
        }
        &:only-child{
          left: 24%;
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .mbs {
    &.mbs-card-books{
      .mbs-card-book-cover{
        &:first-child{
          left: 20%;
        }
        &:not(:first-child):not(:last-child) {
          left: 32%;
        }
        &:last-child{
          left: 43%;
        }
      }
    }
  }
}

.mbs-rating-symbol {
  margin-top: 5px;
  font-size: 20px;
  &.mbs-symbol-small {
    font-size: 12px;
  }
}

.mbs-symbol-filled {
  color: #FF9800;
}

/* BOOTSTRAP STYLE OVERRIDE */
.modal-content {
  border: 1px solid #B47C23;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,.5);
  box-shadow: 0 0 0 rgba(0,0,0,.5);
  border-radius: 0;
  font-family: $font-stack;
  background: #fff;
  > .modal-header {
    background: #B47C23;
    color: #fff;
  }
  > .modal-footer {
    background: #f5f5f5;
  }
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.pagination{
  font-family: $font-stack;
}

/* VUE TABLE STYE OVERRIDE */
.vuetable-pagination  {
  font-family: $font-stack;
}

.error {
  font-weight: bold;
  color: red;
}

.vuetable th.sortable:hover {
    color: #2185d0;
    cursor: pointer;
}
.vuetable {
  .fixed-size{
    max-width: 250px;
  }
  .thirty-percent-size{
    width: 30%;
  }
  .ten-percent-size{
    width: 10%;
  }
}
.vuetable-actions {
    width: 22%;
    padding: 12px 0px;
    text-align: center;
   > button {
    padding: 3px 6px;
    margin-right: 4px;
  }
}
.vuetable-pagination {
  cursor: pointer;
}
.vuetable-pagination-info {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}
ul.pagination {
  margin: 0px;
}
.vuetable-pagination-component {
  float: right;
}

/* LOADER ANIMATION */

$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

// scaling... any units
$width: 30px;

.loader {
  float: right;
  display: none;
  position: relative;
  margin: 0px auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.fullpage-mask{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 800;
  display: none;
}

.fullpage-loader{
  @extend .loader;
  width: $width + 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9000;
}

.page-opacity{
  opacity: 0.5;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 90%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 15px; bottom: 15px; left: 15px; right: 15px;
  margin: auto;
}

.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite,
   color 6s ease-in-out infinite
  ;
  stroke-linecap: round;
}

@keyframes rotate{
 100%{
  transform: rotate(360deg);
 }
}
@keyframes dash{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35px;
 }
 100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124px;
 }
}
@keyframes color{
  100%, 0%{
    stroke: $red;
  }
  40%{
    stroke: $blue;
  }
  66%{
    stroke: $green;
  }
  80%, 90%{
    stroke: $yellow;
  }
}

/* VUE IMAGE UPLOADER */
.vue-uploader {
  display: flex;
  &.image-wrapper {
    flex-basis: 80%;
    height: 200px;
    flex: 2.5;
    border-radius: 1px;
    margin-right: 10px;
    overflow-y: hidden;
    border-radius: 2px;
    border: 1px solid #ccc;
    background: #eee;
    justify-content: center;
    align-items: center;
    display: flex;
    > .icon {
      color: #ccc;
      font-size: 50px;
      cursor: default;
    }
  }
  &.image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1px;
  }
  &.input-wrapper {
    overflow: hidden;
    position: relative;
    background: #eee;
    border-radius: 2px;
    float: left;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.2);
    transition: 0.4s background;
    &:hover{
      background: #e0e0e0;
    }
  }
  &.input {
    cursor: inherit;
    display: block;
    font-size: 999px;
    min-height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
  }
}

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
}

/* Default mode */
.tabbable-line {
  > .nav-tabs {
    border: none;
    margin: 0px;
    > li {
      @extend .transition-ease;
      margin-right: 2px;
      > a {
        border: 0;
        margin-right: 0;
        color: #737373;
        > i {
          color: #a6a6a6;
        }
      }
      &.open {
        border-bottom: 4px solid #e4cda9;
        > a {
          border: 0;
          background: none !important;
          color: #333333;
          > i {
            color: #a6a6a6;
          }
        }
        &.dropdown-menu {
          margin-top: 0px;
        }
      }
      &:hover {
        border-bottom: 4px solid #e4cda9;
        > a {
          border: 0;
          background: none !important;
          color: #333333;
          > i {
            color: #a6a6a6;
          }
        }
        &.dropdown-menu {
          margin-top: 0px;
        }
      }
      &.active {
        border-bottom: 4px solid #b47c23;
        position: relative;
        > a {
          border: 0;
          color: #333333;
          > i {
            color: #404040;
          }
        }
      }
    }
  }
  > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 5px;
    > .tab-pane {
      > .tab-header{
        font-weight: bold;
        font-size: 15px;
        text-decoration: underline;
        margin-bottom: 10px;
      }
    }
  }
}

.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* TABLE OVERRIDE TO ALLOW FIXED HEADER TABLE WITH SCROLLING CONTENT */
/*
Force table width to 100%
*/
table.table-fixedheader {
  width: 100%;
  display: block;
  /*
  Set table elements to block mode.  (Normally they are inline).
  This allows a responsive table, such as one where columns can be stacked
  if the display is narrow.
  */
  >thead,
  >tbody,
  >thead>tr,
  >tbody>tr,
  >thead>tr>th,
  >tbody>td {
    display: block;
  }
  >thead>tr:after,
  >tbody>tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  /*
  When scrolling the table, actually it is only the tbody portion of the
  table that scrolls (not the entire table: we want the thead to remain
  fixed).  We must specify an explicit height for the tbody.  We include
  100px as a default, but it can be overridden elsewhere.

  Also, we force the scrollbar to always be displayed so that the usable
  width for the table contents doesn't change (such as becoming narrower
  when a scrollbar is visible and wider when it is not).
  */
  >tbody {
    overflow-y: scroll;
    max-height: 200px;
  }
  /*
  We really don't want to scroll the thead contents, but we want to force
  a scrollbar to be displayed anyway so that the usable width of the thead
  will exactly match the tbody.
  */
  >thead {
    overflow-y: scroll;
  }

  /*
  For browsers that support it (webkit), we set the background color of
  the unneeded scrollbar in the thead to make it invisible.  (Setting
  visiblity: hidden defeats the purpose, as this alters the usable width
  of the thead.)
  */
  >thead::-webkit-scrollbar{
    background-color: inherit;
  }

  /*
  We want to set <th> and <td> elements to float left.
  We also must explicitly set the width for each column (both for the <th>
  and the <td>).  We set to 20% here a default placeholder, but it can be
  overridden elsewhere.
  */
  >thead>tr>th,
  >tbody>tr>td {
          width: 33.33%;
          float: left;
  }

}

/* CARD ANIMATION */
.card {
  position: relative;
  //float: left;
  padding-bottom: 25%;
  width: 25%;
  text-align: center;
}

.card_front,
.card_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card_front,
.card_back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card_front {
  //background-color: #ff5078;
}

.card_back {
  padding: 2px 5px;
  background-color: #555;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect_click.flipped .card_front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect_click.flipped .card_back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
